<p>{{ result.getResultCount() }}</p>
<ol start="{{ result.getOffset() }}">
{% for item in result %}
  <li>
    <h4><a href="{{ item.url }}">{{ item.title|raw }}</a></h4>
    <p>{{ item.urlPreview|raw }}</p>
    <p>{{ item.summary|raw }}</p>
  </li>
{% endfor %}
</ol>
<nav>
  <ul class="pager">
    {% if result.hasNextPage() %}
    <li class="next"><a href="#" data-move="next">Next page <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
    {% if result.getCurrentPage() > 1 %}
    <li class="previous"><a href="#" data-move="first">First page</a></li>
    <li class="previous"><a href="#" data-move="previous"><span aria-hidden="true">&larr;</span> Previous page</a></li>
    {% endif %}
  </ul>
</nav>
